---
Language: Cpp
BasedOnStyle: LLVM

# Unreal-inspired C++ layout.
AccessModifierOffset: -4
BreakBeforeBraces: Allman
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 4
NamespaceIndentation: None
TabWidth: 4
UseTab: Never

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None

BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: false
Standard: c++20
